---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<UPSPLASH_ACCESS_KEY>&query=dog
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<UPSPLASH_ACCESS_KEY>&page=2193&query=dog>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<UPSPLASH_ACCESS_KEY>&page=2&query=dog>;
        rel="next"
      X-Total:
      - '21924'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: UTF-8
      string: '{"total":21924,"total_pages":2193,"results":[{"id":"qO-PIF84Vxg","created_at":"2018-08-15T17:11:28-04:00","updated_at":"2020-02-21T00:02:47-05:00","promoted_at":"2018-08-16T04:51:50-04:00","width":5184,"height":3456,"color":"#D0CBE9","description":null,"alt_description":"shallow
        focus photography of white shih tzu puppy running on the grass","urls":{"raw":"https://images.unsplash.com/photo-1534361960057-19889db9621e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExNzMzMX0","full":"https://images.unsplash.com/photo-1534361960057-19889db9621e?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjExNzMzMX0","regular":"https://images.unsplash.com/photo-1534361960057-19889db9621e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExNzMzMX0","small":"https://images.unsplash.com/photo-1534361960057-19889db9621e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjExNzMzMX0","thumb":"https://images.unsplash.com/photo-1534361960057-19889db9621e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjExNzMzMX0"},"links":{"self":"https://api.unsplash.com/photos/qO-PIF84Vxg","html":"https://unsplash.com/photos/qO-PIF84Vxg","download":"https://unsplash.com/photos/qO-PIF84Vxg/download","download_location":"https://api.unsplash.com/photos/qO-PIF84Vxg/download"},"categories":[],"likes":501,"liked_by_user":false,"current_user_collections":[],"user":{"id":"s_n3DlAm8iY","updated_at":"2020-02-23T17:08:02-05:00","username":"joeyc","name":"Joe
        Caione","first_name":"Joe","last_name":"Caione","twitter_username":"_JoeyC_","portfolio_url":"http://behance.net/joeyc","bio":"\ud83c\udf55\ud83c\udfc0","location":"Cleveland,
        OH","links":{"self":"https://api.unsplash.com/users/joeyc","html":"https://unsplash.com/@joeyc","photos":"https://api.unsplash.com/users/joeyc/photos","likes":"https://api.unsplash.com/users/joeyc/likes","portfolio":"https://api.unsplash.com/users/joeyc/portfolio","following":"https://api.unsplash.com/users/joeyc/following","followers":"https://api.unsplash.com/users/joeyc/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1446647338458-f976efa11db9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1446647338458-f976efa11db9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1446647338458-f976efa11db9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"_joeyc_","total_collections":0,"total_likes":107,"total_photos":16,"accepted_tos":true},"tags":[{"type":"landing_page","title":"dog","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"animals","pretty_slug":"Animals"},"subcategory":{"slug":"dog","pretty_slug":"Dog"}},"title":"Dog
        Images","subtitle":"Download free dog images","description":"Choose from a
        curated selection of dog photos. Always free on Unsplash.","meta_title":"900+
        Dog Images: Download HD Pictures & Photos on Unsplash","meta_description":"Choose
        from hundreds of free dog photos. Download HD dog pictures for free on Unsplash.","cover_photo":{"id":"me0hi86szok","created_at":"2018-12-11T17:46:12-05:00","updated_at":"2020-01-28T00:02:25-05:00","promoted_at":"2018-12-13T00:46:29-05:00","width":3888,"height":5184,"color":"#F2C9AD","description":null,"alt_description":"brown
        dog on grass","urls":{"raw":"https://images.unsplash.com/photo-1544568104-5b7eb8189dd4?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1544568104-5b7eb8189dd4?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb","regular":"https://images.unsplash.com/ph[...]
